
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  color: rgb(103, 113, 133);
  font-size: 40px;
  font-weight: 800;
}

.container h4 {
  color: rgb(79, 82, 89);
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
}

.quantity {
  margin-top: 20px;
  background-color: #9a9999;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 45px;
  padding: 0 10px;
  cursor: pointer;
  color: #162a57;
}

.quantity_input {
  height: 80%;
  width: 40%;
  font-size: 35px;
  text-align: center;
  border: none;
  color: #444c5e;
}

